$color-black: #000000;
$color-primary: #f0c040;
$color-orange: #f08040;
$color-text-grey: #808080;
$color-dark: #203040;
$color-success: #40f040;
$color-error: #c04040;
$color-white: #ffffff;
$color-bg-grey: #f8f8f8;
$color-bg-overaly: rgba(16,16,16,.5);

@mixin flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centering($top) {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
}
%fullspace {
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem  */
}
body {
    margin: 0;
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #f08040;
}
button {
    cursor: pointer;
}
input,
button {
    font: 1.6rem helvetica;
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
} 
input:hover ,
button:hover {
    border: 0.1rem #404040 solid;
} 


