@import './base';
@import './component';

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height:100%;
    header{
        grid-area: 'header';
        background-color: $color-dark;
        color:$color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        a{
            font-weight: bold;
            color:$color-white;
            &:hover{
                color: $color-orange
            }   
        }
        .brand a{
            font-size: 3rem;
            color:$color-white;
        }
    }
    main{
        .products{
            display:flex;
            flex-wrap: wrap;
            list-style: none;
            padding:0;
            margin: 0;
            justify-content: center;
            li{
                flex: 0 1 30rem;
                margin: 1rem;
                margin-top: 0;
                height:42rem;
                border-top: .2rem solid #eee;
                .product{
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    height: 100%;
                    img{
                        max-height: 26rem;
                        max-width: 22rem;
                        margin-top: 2rem;
                    }
                    &-name{
                        line-height: 2.2rem;
                    }
                    &-price{
                        font-size: 2rem;
                    }
                    &-brand{
                        font-size: 1.2rem;
                        color:$color-text-grey;
                        line-height: 2.2rem;
                    }
                    a{
                        color:$color-dark
                    }
                    a:hover{
                        color:$color-orange
                    } 
                }
            }
        }
        .content{
            padding:1rem;
            .details{
                display: flex;
                justify-content:space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                &-img{
                    flex:2 1 60rem;
                    img{
                        max-width: 100%;
                        width:100%;    
                    }
                }
                &-info,
                &-action{
                    flex:1 1 30rem;
                }
                &-info ul,
                &-action ul{
                    padding:0;
                    list-style: none;
                }
                &-info li,
                &-action li{
                    margin-bottom: 1rem;
                }
                &-action{
                    border:0.1rem #808080 solid;
                    border-radius: .5rem;
                    padding: 1rem;
                    background-color: $color-bg-grey;
                    button{
                        @extend .fw;
                    }
                }
                &-info h1{
                    font-size: 2rem;
                    margin: 0;
                }
            }
        }
        .cart{
            display: flex;
            flex-wrap: wrap;
            align-items:flex-start;
            &-list{
                flex:3 1 60rem;
                h3{
                    margin:0
                }
                &-container{
                    padding:1rem;
                    list-style-type: none;
                    li{
                        justify-content:space-between;
                        display:flex;
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                        border-bottom: 0.1rem $color-text-grey solid;
                        &:first-child{
                          align-items:flex-end  
                        } 
                        img{
                            max-width: 10rem;
                            max-height: 10rem; 
                        }
                        select,button{
                            font-size: 1.3rem;
                            padding:0.5rem
                        }
                    }
                }
            }
            &-img{flex:1 1 }
            &-name{
                flex:8 1 ;
                & > div{
                    padding:1rem
                }
            }
            &-price{flex:8 1 ;text-align: right;}
            &-action{
                flex:1 1 20rem;
                background-color: $color-bg-grey;
                padding:1rem; 
                border-radius: 0.5rem;

            }
        }
        .form-container{
            display:flex;
            justify-content: center;
            align-items:flex-start;
            height:100%   ;
            h1{
                font-size: 2.5rem;
            }
            .form-items{
                display:flex;
                flex-direction: column;
                width: 36rem;
                padding:2rem;
                border:0.1rem solid $color-text-grey;
                border-radius: 0.5rem;
                list-style: none;
                li{
                    display:flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
            }
        }
        .checkout-steps{
            display:flex;
            justify-content:space-between;
            align-items:center;
            max-width: 40rem;
            margin:1rem auto;
            &>div{
                border-top: 0.3rem #c0c0c0 solid;
                flex:1 1 ;
                padding-top: 1rem;
                &.active{
                    color:$color-orange;
                    border-top-color: $color-orange;
                }
            }
        }
    }
    footer{
        background-color:$color-dark;
        @include flex-layout;
        color:$color-white;
    }
     
}
